In [1]:
print("Hello Github!")

Hello Github!

In [2]:
import pandas as pd

In [3]:
creditcard = pd.read_csv('UCI_Credit_Card.csv')

In [5]:
len(creditcard)

30000

In [6]:
creditcard.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,1,20000.0,2,2,1,24,2,2,-1,-1,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,2,120000.0,2,2,2,26,-1,2,0,0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
2,3,90000.0,2,2,2,34,0,0,0,0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
3,4,50000.0,2,2,1,37,0,0,0,0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
4,5,50000.0,1,2,1,57,-1,0,-1,0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0

In [7]:
Edc_known = creditcard[creditcard['EDUCATION'] < 5]
len(Edc_known)

29669

In [8]:
Cleaned_data =Edc_known[Edc_known['MARRIAGE'] < 3]
len(Cleaned_data)

29351

In [9]:
a = len(creditcard) - len(Edc_known)
print('Of the people who responded to Education, ' ,a, ', responded either 5, or 6, which are unknown education')

Of the people who responded to Education,  331 , responded either 5, or 6, which are unknown education

In [10]:
b = len(Edc_known)- len(Cleaned_data)
print('Of the people who respended to Education with either 1,2,3 or 4, ', b, ',responded as other to relationship status.')

Of the people who respended to Education with either 1,2,3 or 4,  318 ,responded as other to relationship status.

In [11]:
Cleaned_data.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,1,20000.0,2,2,1,24,2,2,-1,-1,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,2,120000.0,2,2,2,26,-1,2,0,0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
2,3,90000.0,2,2,2,34,0,0,0,0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
3,4,50000.0,2,2,1,37,0,0,0,0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
4,5,50000.0,1,2,1,57,-1,0,-1,0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0

In [12]:
len(Cleaned_data)

29351

In [13]:
CCard_data = Cleaned_data

In [14]:
CCard_data.describe()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
count,29351.000000,29351.000000,29351.000000,29351.000000,29351.000000,29351.000000,29351.00000,29351.000000,29351.000000,29351.000000,...,29351.000000,29351.000000,29351.000000,29351.000000,2.935100e+04,29351.000000,29351.000000,29351.000000,29351.000000,29351.000000
mean,14987.993765,168270.031004,1.603489,1.812306,1.537017,35.390174,-0.01741,-0.133215,-0.165923,-0.221015,...,43196.697728,40308.864672,38915.298559,5639.660966,5.870514e+03,5187.081905,4821.544343,4796.015298,5193.879868,0.222343
std,8658.506676,129978.839521,0.489181,0.711334,0.502313,9.176913,1.12609,1.200839,1.200595,1.172474,...,64315.255250,60809.903678,59605.713552,15842.478777,2.205772e+04,16846.579800,15350.441039,15159.798191,17663.562225,0.415828
min,1.000000,10000.000000,1.000000,0.000000,0.000000,21.000000,-2.00000,-2.000000,-2.000000,-2.000000,...,-170000.000000,-81334.000000,-339603.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
25%,7501.500000,50000.000000,1.000000,1.000000,1.000000,28.000000,-1.00000,-1.000000,-1.000000,-1.000000,...,2303.000000,1760.500000,1263.000000,991.000000,8.145000e+02,390.000000,291.000000,259.000000,130.000000,0.000000
50%,14982.000000,140000.000000,2.000000,2.000000,2.000000,34.000000,0.00000,0.000000,0.000000,0.000000,...,19005.000000,18078.000000,17080.000000,2100.000000,2.009000e+03,1800.000000,1500.000000,1501.000000,1500.000000,0.000000
75%,22481.500000,240000.000000,2.000000,2.000000,2.000000,41.000000,0.00000,0.000000,0.000000,0.000000,...,54425.500000,50225.000000,49276.500000,5007.000000,5.000000e+03,4505.000000,4027.000000,4077.500000,4001.000000,0.000000
max,30000.000000,1000000.000000,2.000000,4.000000,2.000000,79.000000,8.00000,8.000000,8.000000,8.000000,...,891586.000000,927171.000000,961664.000000,505000.000000,1.684259e+06,896040.000000,528897.000000,426529.000000,528666.000000,1.000000

In [15]:
Edc_zero = creditcard[creditcard['MARRIAGE'] == 0]
Edc_zero

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
218,219,110000.0,2,3,0,31,0,0,0,0,...,73315.0,63818.0,63208.0,4000.0,5000.0,3000.0,3000.0,3000.0,8954.0,0
809,810,160000.0,2,2,0,37,0,0,0,0,...,28574.0,27268.0,28021.0,35888.0,1325.0,891.0,1000.0,1098.0,426.0,0
820,821,200000.0,2,3,0,51,-1,-1,-1,-1,...,780.0,390.0,390.0,0.0,390.0,780.0,0.0,390.0,390.0,0
1019,1020,180000.0,2,3,0,45,-1,-1,-2,-2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1443,1444,200000.0,1,3,0,51,-1,-1,-1,-1,...,2529.0,1036.0,4430.0,5020.0,9236.0,2529.0,0.0,4430.0,6398.0,0
2146,2147,150000.0,2,3,0,55,-1,-1,-1,-1,...,2939.0,3396.0,1870.0,17498.0,9160.0,2939.0,3396.0,1870.0,6800.0,0
2554,2555,220000.0,2,1,0,33,-1,-1,-1,-1,...,608.0,1738.0,277.0,1531.0,942.0,608.0,1738.0,277.0,492.0,0
3056,3057,200000.0,1,3,0,36,-2,-2,-2,-2,...,41359.0,9140.0,0.0,89187.0,14178.0,41359.0,9140.0,0.0,0.0,0
4470,4471,70000.0,1,3,0,35,2,2,2,2,...,50517.0,51658.0,52758.0,2200.0,1900.0,2000.0,2100.0,2100.0,2000.0,0
5005,5006,90000.0,2,3,0,24,-2,-2,-2,-1,...,13574.0,6800.0,1830.0,20108.0,4000.0,13574.0,14.0,5.0,13162.0,0
5345,5346,50000.0,2,2,0,28,1,2,0,0,...,46677.0,47668.0,50764.0,0.0,3154.0,1669.0,1741.0,3900.0,0.0,0
6389,6390,10000.0,1,3,0,40,0,0,0,0,...,10000.0,0.0,0.0,1400.0,1000.0,0.0,0.0,0.0,0.0,0
7940,7941,50000.0,1,3,0,50,0,0,0,0,...,13256.0,14437.0,16985.0,1500.0,1500.0,1400.0,1400.0,2800.0,0.0,0
7955,7956,50000.0,2,3,0,27,2,0,-1,-1,...,0.0,0.0,0.0,1750.0,780.0,0.0,0.0,0.0,0.0,0
8886,8887,70000.0,1,3,0,26,1,2,2,0,...,39861.0,41063.0,42918.0,2000.0,0.0,1600.0,2000.0,2700.0,1500.0,1
9088,9089,50000.0,1,3,0,50,0,0,0,-1,...,3400.0,2769.0,0.0,2266.0,0.0,3400.0,2769.0,1700.0,0.0,0
9973,9974,80000.0,2,3,0,34,0,0,0,0,...,13099.0,6551.0,0.0,1834.0,2124.0,0.0,0.0,0.0,0.0,0
10208,10209,50000.0,2,1,0,45,-1,-1,-2,-2,...,0.0,4881.0,4634.0,0.0,0.0,0.0,4881.0,0.0,0.0,0
11752,11753,290000.0,2,2,0,49,0,0,0,0,...,54486.0,55198.0,55878.0,2542.0,1926.0,1931.0,1989.0,2002.0,2028.0,0
11925,11926,140000.0,1,3,0,47,0,0,0,0,...,52295.0,49047.0,38796.0,2536.0,5017.0,10012.0,10013.0,3010.0,6015.0,0
12050,12051,80000.0,2,3,0,37,-2,-2,-2,-2,...,3882.0,4785.0,1000.0,3087.0,5215.0,3882.0,4785.0,1968.0,0.0,0
12078,12079,30000.0,2,3,0,46,1,2,2,2,...,21542.0,24022.0,25473.0,0.0,3000.0,0.0,3000.0,2000.0,0.0,0
12732,12733,70000.0,2,3,0,34,1,2,2,2,...,18438.0,18004.0,19546.0,1500.0,0.0,2000.0,0.0,2000.0,0.0,0
13825,13826,120000.0,2,3,0,41,0,0,-2,-2,...,0.0,1344.0,881.0,258.0,0.0,0.0,1344.0,929.0,599.0,0
16581,16582,20000.0,1,3,0,29,5,4,3,2,...,1800.0,1800.0,1800.0,0.0,0.0,0.0,0.0,0.0,0.0,0
17285,17286,120000.0,2,3,0,47,-1,0,0,-2,...,0.0,430.0,1520.0,1500.0,0.0,0.0,430.0,1520.0,730.0,0
17529,17530,80000.0,2,3,0,41,0,0,0,0,...,38934.0,38816.0,38850.0,3082.0,2500.0,2200.0,2000.0,2000.0,2000.0,0
17576,17577,110000.0,2,3,0,31,0,0,0,0,...,79288.0,73315.0,63818.0,7908.0,4000.0,5000.0,3000.0,3000.0,3000.0,0
18306,18307,230000.0,2,3,0,30,-1,-1,-1,2,...,2205.0,1210.0,291.0,763.0,2403.0,0.0,0.0,291.0,291.0,0
18535,18536,250000.0,2,3,0,26,0,0,0,0,...,83674.0,64760.0,52397.0,129565.0,10000.0,3011.0,3000.0,2500.0,2000.0,0
18948,18949,50000.0,2,3,0,32,-1,-1,2,-1,...,978.0,652.0,326.0,652.0,0.0,978.0,0.0,0.0,326.0,0
19342,19343,200000.0,2,3,0,31,1,-2,-2,-2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
19386,19387,30000.0,2,3,0,30,0,0,2,2,...,25805.0,21356.0,15158.0,3634.0,1451.0,9.0,1003.0,905.0,409.0,0
20119,20120,200000.0,2,3,0,45,0,0,0,-1,...,27404.0,2644.0,2262.0,1732.0,1000.0,27404.0,2644.0,2262.0,4500.0,0
20449,20450,120000.0,1,3,0,26,0,0,-1,-1,...,13781.0,8636.0,5698.0,13160.0,5272.0,13832.0,8661.0,5715.0,38852.0,0
21559,21560,20000.0,2,3,0,23,0,0,0,0,...,18290.0,18665.0,19077.0,2000.0,1388.0,1115.0,490.0,531.0,400.0,0
22590,22591,160000.0,2,2,0,41,0,0,0,0,...,0.0,0.0,351.0,1000.0,1000.0,0.0,0.0,351.0,0.0,1
23029,23030,80000.0,2,3,0,37,-2,-2,-2,-2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
23103,23104,90000.0,2,3,0,42,0,0,2,0,...,15518.0,15563.0,18289.0,3072.0,0.0,1555.0,600.0,3000.0,2000.0,1
23135,23136,20000.0,2,3,0,35,0,-1,2,2,...,1500.0,500.0,0.0,362.0,2000.0,0.0,500.0,0.0,0.0,0
23360,23361,240000.0,2,3,0,37,-1,-1,-1,-1,...,6229.0,15829.0,20785.0,1823.0,1788.0,6229.0,10000.0,10000.0,5640.0,0
24216,24217,180000.0,1,3,0,27,-2,-2,-2,-2,...,243.0,323.0,155.0,1260.0,1104.0,243.0,323.0,155.0,209.0,1
24443,24444,300000.0,1,1,0,37,-1,-1,-1,-1,...,1576.0,497.0,-3.0,752.0,179.0,1579.0,1.0,0.0,1246.0,0
24721,24722,360000.0,1,2,0,38,-1,-1,-1,-2,...,0.0,0.0,0.0,252.0,0.0,0.0,0.0,0.0,0.0,0
24984,24985,50000.0,1,3,0,39,0,0,0,0,...,25791.0,19476.0,19066.0,1710.0,1787.0,1295.0,825.0,684.0,784.0,0
25308,25309,170000.0,2,2,0,24,-1,0,0,0,...,35458.0,30143.0,42215.0,2000.0,2165.0,2285.0,500.0,28500.0,2000.0,0
25702,25703,200000.0,2,3,0,45,-2,-2,-2,-2,...,399.0,1396.0,0.0,2430.0,0.0,399.0,1396.0,0.0,0.0,0
26250,26251,210000.0,2,1,0,31,-1,-1,-1,0,...,78075.0,109374.0,108869.0,3848.0,33515.0,48075.0,39374.0,1000.0,1357.0,0
28457,28458,180000.0,2,3,0,36,-1,-1,-1,-1,...,326.0,326.0,326.0,326.0,326.0,326.0,326.0,326.0,326.0,0
28602,28603,200000.0,2,3,0,37,1,-1,-1,-1,...,4000.0,22800.0,5716.0,35000.0,5000.0,4000.0,22800.0,5716.0,0.0,0
28603,28604,110000.0,2,3,0,44,2,2,2,2,...,41476.0,42090.0,43059.0,2000.0,2000.0,1700.0,1600.0,1800.0,1800.0,1
28766,28767,80000.0,2,3,0,40,2,2,3,2,...,1375.0,779.0,5889.0,5000.0,0.0,0.0,885.0,5889.0,4239.0,0
29078,29079,100000.0,2,3,0,56,1,2,0,0,...,31134.0,30444.0,32460.0,0.0,1500.0,2700.0,0.0,2400.0,0.0,0
29111,29112,300000.0,2,3,0,53,-2,-2,-2,-2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0